<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>etusivu</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Adamina&amp;display=swap">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Navbar-Centered-Brand-icons.css">
</head>

<body class="text-center flex-column" style="background: url(&quot;assets/img/karsten-wurth-0w-uTa0Xz7w-unsplash.webp&quot;), #FCF204;height: auto;color: #070707;background-size: cover, auto;margin: 0px;">
    <nav class="navbar navbar-light navbar-expand-md py-3" style="background: #77bfa3;">
        <div class="container"><i class="icon ion-android-home" style="font-size: 43px;color: #070707;width: 38px;height: 38px;margin-bottom: 23px;"></i><a class="navbar-brand d-flex align-items-center" href="#"></a><img src="assets/img/SähkövahtiLogo.svg"><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-4"><span class="sr-only">Toggle navigation</span></button><svg xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 24 24" width="1em" fill="currentColor" style="font-size: 38px;fill: #0a0a0a;background: rgba(10,10,10,0);color: #070707;border-color: #07070700;">
                <path d="M0 0h24v24H0z" fill="none"></path>
                <path d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z"></path>
            </svg>
            <div class="collapse navbar-collapse flex-grow-0 order-md-first" id="navcol-4">
                <div class="d-none d-md-block"></div>
            </div>
        </div>
    </nav>
    <main class="d-flex">
        <div class="container d-flex flex-row justify-content-center align-items-center align-content-center" style="gap: 2rem;background: #f8961e;margin: 18px;border-radius: 33px;">
            <p class="text-left" style="margin-top: 15px;color: rgb(14,14,14);font-size: 20px;font-weight: bold;font-family: Adamina, serif;">Sähkö on halpaa&nbsp;</p><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" width="1em" height="1em" fill="currentColor" style="font-size: 43px;width: 38px;height: 38px;">
                <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
                <path d="M256 352C293.2 352 319.2 334.5 334.4 318.1C343.3 308.4 358.5 307.7 368.3 316.7C378 325.7 378.6 340.9 369.6 350.6C347.7 374.5 309.7 400 256 400C202.3 400 164.3 374.5 142.4 350.6C133.4 340.9 133.1 325.7 143.7 316.7C153.5 307.7 168.7 308.4 177.6 318.1C192.8 334.5 218.8 352 256 352zM208.4 208C208.4 225.7 194 240 176.4 240C158.7 240 144.4 225.7 144.4 208C144.4 190.3 158.7 176 176.4 176C194 176 208.4 190.3 208.4 208zM304.4 208C304.4 190.3 318.7 176 336.4 176C354 176 368.4 190.3 368.4 208C368.4 225.7 354 240 336.4 240C318.7 240 304.4 225.7 304.4 208zM512 256C512 397.4 397.4 512 256 512C114.6 512 0 397.4 0 256C0 114.6 114.6 0 256 0C397.4 0 512 114.6 512 256zM256 48C141.1 48 48 141.1 48 256C48 370.9 141.1 464 256 464C370.9 464 464 370.9 464 256C464 141.1 370.9 48 256 48z"></path>
            </svg>
        </div>
    </main>
    <div class="container d-inline-flex flex-row flex-shrink-0 justify-content-center align-items-center align-content-center align-self-center m-auto" style="gap: 2rem;">
        <div class="d-flex justify-content-start" style="background: #f8961e;border-radius: 33px;height: 61px;width: 150px;"><img class="d-flex justify-content-start" src="assets/img/Vector.svg" style="border-radius: 34px;width: 38px;" width="38" height="66">
            <p class="text-left d-flex flex-row justify-content-center" style="margin-top: 7px;color: rgb(14,14,14);font-size: 15px;font-weight: bold;font-family: Adamina, serif;border-top-left-radius: 64px;margin-bottom: 10px;">Nyt on 12-13 2,5 c/kWh</p>
        </div>
        <div class="d-flex justify-content-start" style="background: #f8961e;border-radius: 33px;height: 61px;width: 150px;"><img src="assets/img/Vector.svg" style="width: 38px;height: 66px;" width="38" height="61">
            <p class="text-left" style="margin-top: 7px;color: rgb(14,14,14);font-size: 15px;font-weight: bold;font-family: Adamina, serif;margin-bottom: 10px;">klo 13-14&nbsp; &nbsp; {{price}} c/kWh</p>
        </div>
    </div>
    <div class="container d-flex justify-content-center align-content-center" style="gap: 2rem;margin: 10px;margin-left: 0px;">
        <div style="background: #f8961e;width: 100px;height: 100px;border-radius: 50px;">
            <p style="height: 40px;width: 80px;margin-top: 15px;margin-bottom: 20px;font-weight: bold;font-family: Adamina, serif;text-align: center;margin-left: 5px;font-size: 14px;">Päivän alin 2,32&nbsp; c/kWh</p>
        </div>
        <div style="background: #f8961e;width: 100px;height: 100px;border-radius: 50px;">
            <p style="height: 40px;width: 80px;margin-top: 10px;margin-bottom: 20px;font-family: Adamina, serif;text-align: center;margin-left: 5px;font-size: 14px;font-weight: bold;">Päivän keskiarvo 2,32&nbsp; c/kWh</p>
        </div>
        <div style="background: #f8961e;width: 100px;height: 100px;border-radius: 50px;">
            <p style="height: 40px;width: 80px;margin-top: 15px;margin-bottom: 20px;font-weight: bold;font-family: Adamina, serif;text-align: center;margin-left: 5px;font-size: 14px;">Päivän alin 2,32&nbsp; c/kWh</p>
        </div>
    </div>
    <div class="container d-flex justify-content-start align-items-center align-content-center" style="gap: 2rem;text-align: center;background: #f8961e;width: 170px;height: 61px;margin: 18px;border-radius: 33px;"><svg xmlns="http://www.w3.org/2000/svg" viewBox="-96 0 512 512" width="1em" height="1em" fill="currentColor" style="width: 38px;height: 38px;">
            <!--! Font Awesome Free 6.1.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free (Icons: CC BY 4.0, Fonts: SIL OFL 1.1, Code: MIT License) Copyright 2022 Fonticons, Inc. -->
            <path d="M176 322.9V160c0-8.75-7.25-16-16-16s-16 7.25-16 16v162.9c-18.62 6.625-32 24.25-32 45.13c0 26.5 21.5 48 48 48s48-21.5 48-48C208 347.1 194.6 329.5 176 322.9zM272 278.5V112c0-61.87-50.12-112-111.1-112S48 50.13 48 112v166.5c-19.75 24.75-32 55.5-32 89.5c0 79.5 64.5 143.1 144 143.1S304 447.5 304 368C304 334 291.8 303.1 272 278.5zM160 448c-44.13 0-80-35.87-80-79.1c0-25.5 12.25-48.88 32-63.75v-192.3c0-26.5 21.5-48 48-48s48 21.5 48 48v192.3c19.75 14.75 32 38.25 32 63.75C240 412.1 204.1 448 160 448z"></path>
        </svg>
        <div class="d-flex justify-content-end align-items-center">
            <p class="text-left" style="margin-top: 40px;color: rgb(14,14,14);font-size: 16px;font-weight: bold;font-family: Adamina, serif;height: 50px;width: 20px;">-8</p><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-temperature-celsius d-flex justify-content-center align-items-center" style="width: 40px;height: 30px;margin-right: 0px;padding-right: 0px;margin-bottom: 4px;">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
                <circle cx="6" cy="8" r="2"></circle>
                <path d="M20 9a3 3 0 0 0 -3 -3h-1a3 3 0 0 0 -3 3v6a3 3 0 0 0 3 3h1a3 3 0 0 0 3 -3"></path>
            </svg>
        </div>
    </div>
    <div class="container d-flex flex-row justify-content-start align-items-center align-content-center" style="gap: 2rem;text-align: center;background: #f8961e;width: 170px;height: 61px;margin: 18px;border-radius: 33px;"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round" class="icon icon-tabler icon-tabler-wind" style="width: 38px;min-width: 38px;height: 38px;">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M5 8h8.5a2.5 2.5 0 1 0 -2.34 -3.24"></path>
            <path d="M3 12h15.5a2.5 2.5 0 1 1 -2.34 3.24"></path>
            <path d="M4 16h5.5a2.5 2.5 0 1 1 -2.34 3.24"></path>
        </svg>
        <p class="text-left" style="margin-top: 40px;color: rgb(14,14,14);font-size: 16px;font-weight: bold;font-family: Adamina, serif;height: 50px;width: 80px;">30 m/s&nbsp;</p>
    </div>
    <div class="container border rounded d-inline-flex flex-grow-0 flex-fill justify-content-between align-items-center align-content-center align-self-center" style="padding: 10px;border-bottom-color: rgb(244,238,238);padding-bottom: 0px;border-radius: 45px;padding-top: 30px;">
        <div style="background: #38a3a5;width: 70px;height: 70px;border-radius: 15px;"><img src="assets/img/Vector2.svg" width="43" height="66"></div>
        <div style="background: #38a3a5;width: 70px;height: 70px;border-radius: 15px;">
            <div style="background: #38a3a5;width: 70px;height: 70px;border-radius: 15px;"><img src="assets/img/Group.svg" width="61" height="75"></div>
        </div>
        <div style="background: #38a3a5;width: 70px;height: 70px;border-radius: 15px;"><img src="assets/img/pesu.svg" width="63" height="67"></div>
        <div style="background: #38a3a5;width: 70px;height: 70px;border-radius: 15px;"><img src="assets/img/settings.svg" width="69" height="66"></div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.6.1/js/bootstrap.bundle.min.js"></script>
</body>

</html>