<script onload="showTime()"></script>
<p>Tämä on testiaikainen kotisivu, jossa simuloitua dataa</p>
<h1>Sähkö on nyt kallista</h1>
<h1 class="expensive">{{price}} snt/kwh</h1>
<h2>Tuuli {{wind}} m/s</h2>
<h2>Lämpötila {{temperature}}</h2>
<h2>
    <br>
    <br>
</h2>
<h2 onload=showTime() id="clock"></h2>
<script>
    function showTime() {
    // Create a date object containing current timestamp
    var date = new date();

    // Separate hours, minutes and seconds
    var h = date.getHours();
    var m = date.getMinutes();
    var s = date.getSeconds();

    // Add leading zeros    
    h = (h < 10) ? "0" + h : h;
    m = (m < 10) ? "0" + m : m;
    s = (s < 10) ? "0" + s : s;

    // Build a string for time and put it into h2 named clock
    var time = h + "." + m + "." + s;
    document.getElementById("clock").innerHTML = time
    
    // After 1000 ms (1 s) call showTime again
    setTimeout(showTime, 1000);

    };
<script>