<p>Tämä on testiaikainen kotisivu, jossa simuloitua dataa</p>
<h1>Sähkö on nyt kallista</h1>
<h1 class="expensive">{{price}} snt/kwh</h1>
<h2>Tuuli {{wind}} m/s</h2>
<h2>Lämpötila {{temperature}}</h2>
<h2>
    <br>
    <br>
</h2>
<h2 id="clock"></h2>
<script>
    const showTime = () => {
    let now = new Date();
    let hourValue = now.getHours();
    let minuteValue = now.getMinutes();
    let secondValue = now.getSeconds();
    document.getElementById('clock').innerHTML =hourValue + ""."" + minuteValue + ""."" + secondValue;
    setTimeout(showTime, 1000);

    };
<script>