body {
    font-family: Arial, Helvetica, sans-serif;
}

h1 {font-size: 48px;}

.expensive {
    color:crimson;   
}

.cheap {
    color:darkgreen;
}

.average {
    color:cornflowerblue;
}

table {

    border-radius: 10px;
    border: 1px solid #ddd;
    border-spacing: 0;
    border-collapse: separate;
    overflow: hidden;
}

    tr:nth-child(even){background-color:rgb(242, 226, 8)
}

th {
    padding: 10px;
    background-color:rgba(red, green, blue, alpha);
    color:#0d0d0d
}

td {
    padding: 8px;
}

   